<?php
/**
 * @access protected
 * @author Judzhin Miles <info[woof-woof]msbios.com>
 */
namespace MSBios\Viewer;

return [

    Module::class => [

        /**
         * Container.
         *
         * Expects: string
         * Default: MSBios\Viewer\Container::class
         */
        'container' => Container::class,

        /**
         * Viewer resolvers.
         *
         * Expects: array
         * Default: [
         * ]
         */
        'viewer_resolvers' => [
        ],
    ]
];
